.background-image {
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pexels-sohail-nachiti-807598.jpg);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
