* {
  margin: 0;
  padding: 0;
}
.hero {
  height: 90vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 30% 70%;
  place-content: center;
  align-items: center;
}
.image {
  height: 80vh;
}
.top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  justify-content: center;
  border-bottom: 1px gray solid;
  padding: 40px 0px;
}
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.contact a {
  text-decoration: none;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
}
.contact span {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
}
.text span {
  font-size: 18px;
}
.text h1,
.text p,
.text h2 {
  font-size: 44px;
}
.text h2 span {
  font-size: 44px;
  color: #e6ff00;
  font-weight: 700;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
}
@media only screen and (max-device-width: 1024px) and (min-height: 601px) {
  .hero {
    height: 40vh;
  }
  .image {
    height: 40vh;
  }
}
@media only screen and (max-device-width: 1023px) {
  .text h1,
  .text h2,
  .text h2 span,
  .text p {
    font-size: 32px;
  }
  .contact span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    grid-template-columns: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }
  .text h1,
  .text h2,
  .text h2 span,
  .text p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 539px) {
  .contact {
    flex-direction: column;
  }
  .contact a,
  .location {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .text h2 span {
    font-size: 28px;
  }
}
