.port {
  margin-top: 100px;
}
.port h1 {
  margin-bottom: 50px;
  border-bottom: 2px #e6ff00 solid;
  width: fit-content;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.project-item {
  position: relative;
  overflow: hidden;
  width: 300px; /* Adjust the width and height as needed */
  height: 200px;
  cursor: pointer;
}

.project-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  position: absolute;
  z-index: -1;
}

.project-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.project-item .description {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  opacity: 0; /* Initially hide the text */
  transform: translateY(20px); /* Initially move the text down */
}

.project-item .description a {
  color: rgb(181, 178, 178);
}
.project-item .description a:hover {
  color: #e6ff00;
}
.project-item:hover .overlay {
  opacity: 1;
}

.project-item:hover .description {
  opacity: 1; /* Show the text on hover */
  transform: translateY(0); /* Move the text back to its original position */
}
.description p {
  color: rgb(181, 178, 178);
}
