.services {
  margin-top: 100px;
}
.services h1 {
  border-bottom: 2px #e6ff00 solid;
  width: fit-content;
  margin-bottom: 50px;
}
.services h3 {
  color: rgb(181, 178, 178);
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media only screen and (max-device-width: 1023px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-device-width: 767px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
