* {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  width: 95%;
  z-index: 22;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
@media only screen and (max-device-width: 767px) {
  .App {
    width: 75%;
  }
}
@media only screen and (max-device-width: 539px) {
  .App {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
}
